[submodule "catkin_ws/src/statemachine"]
	path = catkin_ws/src/statemachine
	url = https://github.com/KSU-IEEE/statemachine.git
[submodule "submodules/drivers"]
	path = submodules/drivers
	url = https://github.com/KSU-IEEE/drivers.git
[submodule "submodules/controllers"]
	path = submodules/controllers
	url = https://github.com/KSU-IEEE/controllers.git
[submodule "submodules/noise-recognition"]
	path = submodules/noise-recognition
	url = https://github.com/KSU-IEEE/noise-recognition.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/KSU-IEEE/wiki.git
[submodule "catkin_ws/src/behaviors"]
	path = catkin_ws/src/behaviors
	url = https://github.com/KSU-IEEE/behaviors.git
[submodule "accessibility"]
	path = accessibility
	url = https://github.com/KSU-IEEE/accessibility.git
[submodule "catkin_ws/src/ros-wrappers"]
	path = catkin_ws/src/ros-wrappers
	url = https://github.com/KSU-IEEE/ros-wrappers.git
[submodule "catkin_ws/src/arduino-ros"]
	path = catkin_ws/src/arduino-ros
	url = https://github.com/KSU-IEEE/arduino-ros.git
